HuskyRescue.Core/TrackABeast/dogs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Dogs">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="dog">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" />
							<xs:element name="age" type="xs:string" />
							<xs:element name="gender" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="isFosterNeeded" type="xs:boolean" use="required" />
						<xs:attribute name="isCatFriendly" type="xs:string" use="required" />
						<xs:attribute name="isKidFriendly" type="xs:string" use="required" />
						<xs:attribute name="isSpecialNeeds" type="xs:boolean" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>